h2 {
    color: white;
    font-family: garamond;
    font-size: 36px;
    font-weight: bold;
    position: relative;
}

p {
    font-family: garamond;
    position: relative;
}


/* Color Palette
    Beige - #FAEDB4
    Salmon - #F0A694
    Purple - #8255B5
    Dark Blue - #3D377A
    Black - #382C35
    Blue - #526898 */

.recentWork {

}

.student {
    background-image: berkeley-image;
}

.manager {
    background-color: #F0A694;
}

.advisor {
    background-color: #3D377A;
}

.mentor {
    background-color: #FAEDB4;
}

.creator {
    background-image: ;
}