/* Images and graphs */
.calendar {
  width: 100%;
  border: 1px solid black;
}
.graph-tall, .graph-short {
  text-align: center;
  margin: 20px auto 5px auto;
}
.graph-tall {
  width: 800px;
  height: 500px;
}
.graph-short {
  width: 700px;
  height: 300px;
}
.graph-square {
  width: 400px;
  height: 400px;
  margin: 20px auto 5px auto;
}

/* Nav */
#navbar {
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  left: 20px;
  position: fixed;
  top: 70px;
  width: 170px;
}
#navbar a {
  color: black;
  text-decoration: none;
}
#navbar a:hover {
  text-decoration: underline;
}
.navbar-item, .navbar-sub-item {
  padding-bottom: 10px;
}
.navbar-sub-item {
  margin-left: 10px;
}
.active {
  font-weight: bold;
}


body {
  font-family: 'Lora', serif;
}
.container {
  line-height: 1.7;
  padding: 50px 10%;
  padding-left: 220px;
  text-align: justify;
}
.date {
  font-style: italic;
  text-align: right;
  width: 100%;
}
h1, h2, h3 {
  padding-top: 20px;
}
table {
  margin: auto;
}
td {
  padding: 10px;
}

@media screen and (max-width: 1054px) {
  .stats-square, .graph-square {
    margin: 0 auto;
  }
}

/* Phones */
@media screen and (max-width: 680px) {
  #navbar {
    visibility: hidden;
  }
  .container {
    padding-left: 50px;
  }
}
