.calendar {
  width: 100%;
  border: 1px solid black;
}
.graph-tall, .graph-short {
  text-align: center;
  margin: 20px auto 5px auto;
}
.graph-tall {
  width: 800px;
  height: 500px;
}
.graph-short {
  width: 700px;
  height: 300px;
}
.graph-square {
  width: 400px;
  height: 400px;
  margin: 20px auto 5px auto;
}
#topbar {
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0.8;
  width: 100%;
  z-index: 100;
  background: #0057e7;
  text-align: center;
  display: table;
}
.topbar-item {
  display: table-cell;
  float: none;
  width: 1%; /* Why? */
  padding: 10px 70px;
  transition: 0.5s;
  text-align: center;
  margin: auto;
}
.topbar-item:hover {
  background: #d62d20;
  transition: 0.5s;
}
#topbar a {
  text-decoration: none;
  color: white;
}
body {
  margin: 50px 10%;
  font-family: 'Raleway', sans-serif;
  line-height: 1.7;
  text-align: justify;
}
h1, h2 {
  padding-top: 50px;
}
@media screen and (max-width: 1054px) {
  body {
    margin: 50px 5%;
  }
  .stats-square, .graph-square {
    margin: 0 auto;
  }
  .topbar-item {
    padding: 15px 40px;
  }
}
table {
  margin: auto;
}
td {
  padding: 10px;
}
