/* Navigation Bar Elements */
.navbar {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    justify-content: space-between;
    position: fixed;
    left: 0;
    text-shadow: 1px 1px #4a484b;
    top: 0;
    width: 100%;
    z-index: 100;
}
.navbar a {
    color: #778fb5;
    text-decoration: none;
    font-family: 'Montez', cursive;
}
.navbar-items {
    align-items: center;
    display: flex;
    justify-content: center;
}
.navbar-item {
    margin: 0 10px;
}
#title {
    margin-right: auto;
}

.container {
    margin-top: 50px;
}

 /* Pictures */
 .picture-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.linked-picture-container {
    visibility: hidden;
}
.linked-picture-container:hover {
    visibility: visible;
}
.linked-description {
    font-family: 'Montez', cursive;
    font-size: 40px;
    margin-left: 50px;
    margin-top: -80px;
    position: relative;
    text-decoration: none;
}
.linked-picture:hover {
    opacity: 0.6;
}

/*Support*/
body {
    font-family: 'PT Sans', sans-serif;
    line-height: 1.8;
    font-size: 20px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}
h1 {
    color: #778fb5;
    font-family: 'Montez', cursive;
    font-size: 60px;
    text-align: center;
}
a {
    text-decoration: none;
    color: #4a484b;
}
a:hover, #experience a:hover {
    color: #e18f77;
    text-decoration: none;
}

p {
    font-size: 20px;
    margin: 20px 0px;
}
td {
    vertical-align: top;
    line-height: 1.5;
}

footer {
    background-color: black;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    width: 100%;
    color: #778fb5;
    font-size: 16px;
    padding: 10px;
}

/*Responsivity*/
@media screen and (max-width: 900px) {
    .linked-picture {
        height: inherit;
        width: 400px;
    }
}
@media only screen and (max-device-width: 700px) {
    /* Navigation Bar Elements */
    #navbar-first {
        font-size: 70px;
        position: fixed;
    }
    #title {
        float: left;
        padding: 10 30 5 30px;
    }
    .navbar-item-logo {
        height: 100px;
        padding: 18 3 0 3;
    }
    #navbar-second {
        font-size: 60px;
        word-spacing: 50px;
        top: 135px;
        width: 100%;
    }
    body {
        font-size: 40px;
    }
}
