/* Navigation Bar Elements */
#navbar-first {
    font-size: 30px;
    position: fixed;
    width: 100%;
    background: #4a484b;
    top: 0;
    left: 0;
    z-index: 100;
}
#navbar-first a {
    color: #c5d3de;
    text-decoration: none;
    font-family: 'Montez', cursive;
}
#navbar-first a:hover {
    opacity: 0.5;
}
#title {
    float: left;
    padding: 10 30 5 30px;
}
.navbar-item-logo {
    height: 50px;
    padding: 18 3 0 3;
}
#navbar-second {
    border: 2px dotted #4a484b;
    font-size: 30px;
    word-spacing: 30px;
    position: fixed;
    right: 0px;
    top: 65px;
    width: 100%;
    background: #778fb5;
    opacity: 0.9;
    z-index: 100;
    display: inline-block;
}
#navbar-second a {
    color: white;
    text-decoration: none;
    font-family: 'Montez', cursive;
    margin: 0 20;
    text-shadow: 2px 2px #4a484b;
    float: right;
}
#navbar-second a:hover {
    color: #283347;
    text-shadow: 0px 0px;
}
.nav-active {
  color: #283347;
}

/* Filters */
.filter-box {
    padding: 5px 20px;
    margin: 5px 5px 0px -7px;
    background: #c5d3de;
    font-size: 24px;
    display: inline-block;
    box-shadow: 0px 0px 0px;
}
.filter-box:hover {
    background: #e18f77;
    color: white;
}
#filters {
    margin: 20px auto;
    text-align: center;
}

/* Work */
.work-container {
    padding: 150px 50px 50px 50px;
    background: white;
    margin: 0px;
    width: 100%;
}
.work-img {
    width: 100%;
}
.work-filter-box {
    padding: 5px 20px;
    margin: 5px 5px 0px -7px;
    background: #c5d3de;
    font-size: 24px;
    display: inline-block;
    box-shadow: 0px 0px 0px;
}
.work-filter-box:hover {
    background: #e18f77;
    color: white;
}
#work-table {
    margin-top: 50px;
    text-align: center;
}
.work-description a {
    color: #c5d3de;
}
.work-profile-box {
    margin: 10px 5px;
    margin-bottom: -350px;
}
.work-profile-box, .work-profile-box a {
    position: relative;
    display: inline-block;
}
.interests-img {
    height: 350px;
    position: relative;
    border: 4px dotted #c5d3de;
    padding: 10px;
}
.work-description {
    height: 350px;
    width: 350px;
    background: rgba(0,0,0,0.6);
    color: white;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    opacity: 0;
    transition: 0.3s;
    position: relative;
    font-size: 16px;
    padding: 30px;
    top: -350px;
}
.work-description:hover {
    opacity: 1;
    transition: 0.3s;
}
.work-profile-box:hover .interests-img {
    border: 4px dotted #e18f77;
}

/*Support*/
body {
    font-family: 'PT Sans', sans-serif;
    line-height: 1.8;
    font-size: 20px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: url("../img/victoria.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
}
html {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}
h1 {
    text-align: center;
    font-family: 'Montez', cursive;
    color: #778fb5;
    font-size: 60px;
    text-shadow: 1px 1px #4a484b;
}
a {
    text-decoration: none;
    color: #4a484b;
}
a:hover, #experience a:hover {
    color: #e18f77;
    text-decoration: none;
}

p {
    font-size: 20px;
    margin: 20px 0px;
}
td {
    vertical-align: top;
    line-height: 1.5;
}

footer {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    width: 100%;
    color: #778fb5;
    font-size: 16px;
    padding: 10px;
}
#black {
    background: black;
    opacity: 0.7;
}
#about h2 {
    color: white;
}

/*Responsivity*/
@media screen and (max-width: 900px) {
    #about.container, #thoughts.container {
        padding: 50 40 100 40;
    }
    #experience.container {
        padding: 150 50 50 50;
    }
    #filters {
        margin-left: 20px;
    }
    .filter-box {
        font-size: 20px;
    }
    .exp-profile {
        padding: 20px;
        margin: 20px 0px;
        width: 100%;
    }
    #work.container {
        padding: 150 50 50 50;
    }
    #contact.container {
        padding: 150 0 150 0;
        text-align: center;
    }
    #contact-content {
        padding: 0 50;
    }
    #exp-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
@media screen and (max-width: 750px) {
    .filter-box {
        width: 100%;
        text-align: center;
    }
}
@media screen and (min-width: 1140px) {
    #about.container, #thoughts.container {
        padding: 100px 200px 100px 200px;
    }
    #contact-content {
        padding: 0 300 20 300;
    }
}
@media only screen and (max-device-width: 700px) {
    /* To prevent picture from going off screen on mobile */
    #cover {
        background: url("../img/home/heading2.jpg") no-repeat scroll -200px 100% / cover transparent;
    }

    /* Navigation Bar Elements */
    #navbar-first {
        font-size: 70px;
        position: fixed;
    }
    #title {
        float: left;
        padding: 10 30 5 30px;
    }
    #experience.container, #work.container, #contact.container {
        padding-top: 300px;
    }
    .navbar-item-logo {
        height: 100px;
        padding: 18 3 0 3;
    }
    #navbar-second {
        font-size: 60px;
        word-spacing: 50px;
        top: 135px;
        width: 100%;
    }
    body {
        font-size: 40px;
    }
    .filter-box {
        width: 100%;
        text-align: center;
    }
    #exp-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

