h1 {
  color: white;
}
body {
  background: black;
  font-family: 'Lora', serif;
  margin: 0;
}

.css-art-mini-container {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
  text-align: center;
}

.css-art-mini-container.sweet-rolls {
  background: white;
}

.css-art-roll-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 200px;
  padding: 10px;
  width: 200px;
}

.css-art-title {
  padding: 20px;
}

/* sweet rolls */
.sweet-roll {
  align-items: center;
  display: flex;
  justify-content: center;
}

.sweet-roll .swirl {
  border: 5px solid black;
  position: absolute;
  z-index: 2;
}

.sweet-roll .swirl-colored {
  border: 19px solid black;
  position: absolute;
}

.sweet-roll .smoother {
  border-radius: 7px;
  height: 19px;
  margin-left: 10px;
  margin-top: 24px;
  position: absolute;
  width: 19px;
}

.sweet-roll .dot {
  border-radius: 2px;
  height: 3px;
  width: 3px;
  position: absolute;
  z-index: 3;
}

.sweet-roll .chunk {
  border-radius: 3px;
  height: 7px;
  width: 7px;
}

.sweet-roll .swirl-tiny {
  border-bottom-left-radius: 23px;
  border-right: 0px;
  border-top-left-radius: 22px;
  height: 5px;
  width: 5px;
}
.sweet-roll .swirl-smallest {
  border-bottom-right-radius: 34px;
  border-left: 0px;
  border-top-right-radius: 29px;
  height: 32px;
  margin-left: 27px;
  margin-top: 27px;
  width: 25px;
}
.sweet-roll .swirl-middlest {
  border-bottom-left-radius: 44px;
  border-right: 0px;
  border-top-left-radius: 50px;
  height: 60px;
  margin-left: -23px;
  margin-top: -1px;
  width: 30px;
}
.sweet-roll .swirl-largest {
  border-bottom-right-radius: 83px;
  border-left: 0px;
  border-top-right-radius: 66px;
  height: 90px;
  margin-left: 60px;
  margin-top: 29px;
  width: 56px;
}

.sweet-roll .swirl-colored.swirl-tiny {
  margin-left: -13px;
}
.sweet-roll .swirl-colored.swirl-smallest {
  margin-left: 48px;
}
.sweet-roll .swirl-colored.swirl-middlest {
  margin-left: -45px;
}
.sweet-roll .swirl-colored.swirl-largest {
  margin-left: 78px;
}

.sweet-roll .dot:nth-child(1) {
  margin-left: 64px;
  margin-top: 5px;
}
.sweet-roll .dot:nth-child(2) {
  margin-left: -62px;
  margin-top: -41px;
}
.sweet-roll .dot:nth-child(3) {
  margin-left: 69px;
  margin-top: 21px;
}
.sweet-roll .dot:nth-child(4) {
  margin-left: -72px;
  margin-top: 5px;
}
.sweet-roll .dot:nth-child(5) {
  margin-left: -5px;
  margin-top: -79px;
}

.sweet-roll .swirl-outline {
  background: radial-gradient(circle, rgba(240,172,80,1) 54%, rgba(96,45,18,1) 100%);
  border: 3px solid black;
  border-radius: 60px;
  height: 125px;
  margin-left: 29px;
  margin-top: -2px;
  width: 131px;
}

/* sweet roll specifications */
.almond-tofu .swirl-colored {
  border-color: #fff2cc;
}
.almond-tofu .smoother {
  background: #fff2cc;
}
.almond-tofu .dot {
  background: #ff9980;
}

.black-sesame .swirl-colored {
  border-color: #34374a;
}
.black-sesame .smoother {
  background: #34374a;
}
.black-sesame .dot {
  background: black;
}

.char-siu .swirl-colored {
  border-color: #7e0806;
}
.char-siu .smoother {
  background: #7e0806;
}
.char-siu .dot {
  background: #c1421c;
}

.chocolate .swirl-colored {
  border-color: #472b30;
}
.chocolate .smoother {
  background: #472b30;
}
.chocolate .dot {
  background: white;
}

.cinnamon .swirl-colored {
  border-color: #602d12;
}
.cinnamon .smoother {
  background: #602d12;
}

.coconut-peanut .swirl-colored {
  border-color: #a17141;
}
.coconut-peanut .smoother {
  background: #a17141;
}
.coconut-peanut .dot {
  background: white;
}

.egg-tart .swirl-colored {
  border-color: #ffcc00;
}
.egg-tart .smoother {
  background: #ffcc00;
}

.egg-yolk .swirl-colored {
  border-color: orange;
}
.egg-yolk .smoother {
  background: orange;
}
.egg-yolk .dot {
  background: white;
}

.eight-treasure .swirl-colored {
  border-color: #7a2312;
}
.eight-treasure .smoother {
  background: #7a2312;
}
.eight-treasure .dot {
  background: #b38600;
  border: 1px solid #806000;
}

.lotus-egg-yolk .swirl-colored {
  border-color :#773914;
}
.lotus-egg-yolk .smoother {
  background: #773914;
}
.lotus-egg-yolk .dot {
  background: #ea601c;
}

.lychee .swirl-colored {
  border-color: #edeeee;
}
.lychee .smoother {
  background: #edeeee;
}

.mango-pudding .swirl-colored {
  border-color: #ffb84d;
}
.mango-pudding .smoother {
  background: #ffb84d;
}
.mango-pudding .dot {
  background: orange;
}

.milk-tea .swirl-colored {
  border-color: #c09252;
}
.milk-tea .smoother {
  background: #c09252;
}
.milk-tea .dot {
  background: #282929;
}

.mung-bean .swirl-colored {
  border-color: #6c6534;
}
.mung-bean .smoother {
  background: #6c6534;
}
.mung-bean .dot {
  background: #b9b953;
}

.osmanthus .swirl-colored {
  border-color: #feb412;
}
.osmanthus .smoother {
  background: #feb412;
}
.osmanthus .dot {
  background: #8a6841;
}

.sweet-rice .swirl-colored {
  border-color: #e9e4d3;
}
.sweet-rice .smoother {
  background: #e9e4d3;
}
.sweet-rice .dot {
  background: white;
}
