/* Navigation Bar Elements */
#navbar-first {
    font-size: 30px;
    position: fixed;
    width: 100%;
    background: #4a484b;
    top: 0;
    left: 0;
    z-index: 100;
}
#navbar-first a {
    color: #c5d3de;
    text-decoration: none;
    font-family: 'Montez', cursive;
}
#navbar-first a:hover {
    opacity: 0.5;
}
#title {
    float: left;
    padding: 10 30 5 30px;
}
.navbar-item-logo {
    height: 50px;
    padding: 18 3 0 3;
}
#navbar-second {
    border: 2px dotted #4a484b;
    font-size: 30px;
    word-spacing: 30px;
    position: fixed;
    right: 0px;
    top: 65px;
    width: 100%;
    background: #778fb5;
    opacity: 0.9;
    z-index: 100;
    display: inline-block;
}
#navbar-second a {
    color: white;
    text-decoration: none;
    font-family: 'Montez', cursive;
    margin: 0 20;
    text-shadow: 2px 2px #4a484b;
    float: right;
}
#navbar-second a:hover {
    color: #283347;
    text-shadow: 0px 0px;
}
.nav-active {
  color: #283347;
}

/* Heading */
#cover {
    position: relative;
    height: 100%;
    width: 100%;
    background: url("../img/home/heading.jpg") 
            no-repeat scroll 0px 100% / cover transparent;
}

/* About */
#about.container {
/*    background: #778fb5;
    color: #4a484b;*/
    padding: 50px 100px 100px 100px;
    margin: 0px;
    width: 100%;
    text-shadow: 1px 1px 1px black;
}
#about p {
    color: white;
}
#about a {
    color: #e18f77;
}
#about a:hover {
    color: #778fb5;
}

/*Experience*/
#experience.container {
    background: white;
    line-height: 1.5;
    font-size: 20px;
    margin: 0px;
    width: 100%;
    padding: 150px 50px 50px 50px;
}
.filter-box {
    padding: 5px 20px;
    margin: 5px 5px 0px -7px;
    background: #c5d3de;
    font-size: 24px;
    display: inline-block;
    box-shadow: 0px 0px 0px;
}
.filter-box:hover {
    background: #e18f77;
    color: white;
}
#filters {
    margin: 20px auto;
    text-align: center;
}
.exp-profile {
    border: 4px dotted #c5d3de;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    float: left;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
}
.exp-profile:hover {
    border: 4px dotted #e18f77;
}
.exp-title {
    font-weight: 700;
    font-size: 30px;
}
.exp-employer {
    font-size: 24px;
    font-style: italic;
}
.exp-box {
    padding: 3px 10px;
    margin: 5px 5px 0px -7px;
    background: #c5d3de;
    display: inline-block;
}
.exp-description {
    margin: 10px 0px;
}
#experience a {
    color: #778fb5;
}
.cat-box {
    padding: 3px 10px;
    margin: 0px 0px 0px 5px;
    background: #c5d3de;
    float: right;
}
.exp-profile:hover .exp-box {
    background: #e18f77;
}
.exp-profile:hover .cat-box {
    background: #e18f77;
    color: white;
}
.exp-active {
  background: #e18f77;
  text-decoration: none;
  color: white;
}

/* Work */
#work.container {
    padding: 150px 100px 50px 100px;
    /*background: #4a484b;*/
    background: white;
    margin: 0px;
    width: 100%;
}
.work-img {
    width: 100%;
}

/* Contact */
#contact.container {
    padding: 150 0 200 0;
    text-align: center;
/*    color: white;
    text-shadow: 1px 1px 1px black;*/
    background: white;
    margin: 0px;
    width: 100%;
    opacity: .85;
}
#contact-content {
    padding: 0 150 20 150;
    line-height: 2;
}
#contact a {
    color: #778fb5;
}

/*Support*/
body {
    font-family: 'PT Sans', sans-serif;
    line-height: 1.8;
    font-size: 20px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: url("../img/victoria.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
}
html {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}
h1 {
    text-align: center;
    font-family: 'Montez', cursive;
    color: #778fb5;
    font-size: 60px;
    text-shadow: 1px 1px #4a484b;
}
a {
    text-decoration: none;
    color: #4a484b;
}
a:hover, #experience a:hover {
    color: #e18f77;
    text-decoration: none;
}

p {
    font-size: 20px;
    margin: 20px 0px;
}
td {
    vertical-align: top;
    line-height: 1.5;
}

footer {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    width: 100%;
    color: #778fb5;
    font-size: 16px;
    padding: 10px;
}

#exp-columns {
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 2;
    column-gap: 15px;
    column-fill: auto;
}

/*Responsivity*/
@media screen and (max-width: 900px) {
    #about.container {
        padding: 50 40 100 40;
    }
    #experience.container {
        padding: 150 50 50 50;
    }
    #filters {
        margin-left: 20px;
    }
    .filter-box {
        font-size: 20px;
    }
    .exp-profile {
        padding: 20px;
        margin: 20px 0px;
        width: 100%;
    }
    #work.container {
        padding: 150 50 50 50;
    }
    #contact.container {
        padding: 150 0 150 0;
        text-align: center;
    }
    #contact-content {
        padding: 0 50;
    }
    #exp-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

}
@media screen and (max-width: 750px) {
    .filter-box {
        width: 100%;
        text-align: center;
    }
}
@media screen and (min-width: 1140px) {
    #about.container {
        padding: 100px 200px 100px 200px;
    }
    #contact-content {
        padding: 0 300 20 300;
    }
}
@media only screen and (max-device-width: 700px) {
    /* To prevent picture from going off screen on mobile */
    #cover {
        background: url("../img/home/heading2.jpg") no-repeat scroll -200px 100% / cover transparent;
    }

    /* Navigation Bar Elements */
    #navbar-first {
        font-size: 70px;
        position: fixed;
    }
    #title {
        float: left;
        padding: 10 30 5 30px;
    }
    .navbar-item-logo {
        height: 100px;
        padding: 18 3 0 3;
    }
    #navbar-second {
        font-size: 60px;
        word-spacing: 50px;
        top: 135px;
        width: 100%;
    }
    #body {
        font-size: 30px;
    }
    .filter-box {
        width: 100%;
        text-align: center;
    }
    #exp-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

