/*Navigation Bar Elements*/
#title {
    font-size: 30px;
    padding: 0 20;
    position: fixed;
    width: 100%;
    background: #4a484b;
    top: 0;
    left: 0;
    z-index: 100;
}
#title a {
    color: #c5d3de;
    text-decoration: none;
    transition: 0.7s;
    font-family: 'Montez', cursive;
}
#title a:hover {
    color: white;
    transition: 0.7s;
}
#navbar {
    border: 2px dotted #4a484b;
    font-size: 30px;
    word-spacing: 30px;
    text-align: center;
    position: fixed;
    right: 0px;
    top: 53px;
    width: 100%;
    background: #778fb5;
    opacity: 0.9;
    z-index: 100;
}
#navbar a {
    color: white;
    text-decoration: none;
    transition: 0.7s;
    font-family: 'Montez', cursive;
    float: right;
    margin: 0 20;
    text-shadow: 2px 2px #4a484b;
}
#navbar a:hover {
    color: #283347;
    transition: 0.7s;
    text-shadow: 0px 0px;
}

/* Heading */
#home {
    max-width: 100%;
    height: auto;
}

/* About */
#about.container {
    background: #778fb5;
    color: #4a484b;
    max-width: 100%;
    padding: 50 100 100 100;
}
#about h1, #about h2 {
    color: white;
}
#about a {
    color: #4a484b;
}
#about a:hover {
    color: #c5d3de;
}
#about p {
    color: white;
}

/* Education */
#education.container {
    padding: 50 0;
    margin-bottom: 60px;
}
#ed-seal {
    float: left;
    margin-left: 50;
    padding: 0 70 50 0;
    width: 200px;
    height: 200px;
}

/*Skills*/
#skills.container {
    padding: 50 50 550 50;
    text-align: center;
    background: #c5d3de;
}
#skills li {
    float: left;
    background: #778fb5;
    transition: 0.5s;
    padding: 10px;
    color: white;
    margin: 2px;
    border: 3px dotted #4a484b;
    font-size: 18px;
}
#skills li:hover {
    background: #4a484b;
    transition: 0.5s;
    color: #c5d3de;
}
#skills li strong {
    font-size: 22px;
    color: #4a484b;
    transition: 0.5s;
}
#skills li:hover strong {
    color: white;
    transition; 0.5s;
}

/* Work */
#work.container {
    text-align: center;
    padding: 50 70;
    background: #4a484b;
    padding-bottom: 1300px;
}
#work h1 {
    color: #c5d3de;
    text-shadow: 1px 1px #778fb5;
    padding-bottom: 110px;
}
.work-box {
    opacity: 0.5;
    transition: 0.5s;
    float: left;
    margin-top: -102px;
}
.work-box:hover {
    opacity: 1;
    transition: 0.5s;
}
.work-box .work-content {
    position: relative;
    bottom: 101px;
    visibility: hidden;
    text-align: center;
    padding: 20 0 20 0;
    color: white;
    background: #4a484b;
    opacity: 0;
    -webkit-transition: visibility 0s linear 0.25s, 
        opacity 0.25s linear;
    font-size: 16px;
    border: 3px dotted #778fb5;
}
.work-box:hover .work-content {
    visibility: visible;
    opacity: 0.9;
    -webkit-transition-delay: 0s;
}
.work-content i {
    color: #c5d3de;
}
.popup-window {
    display: none;
    background: #333;
    padding: 10px;  
    border: 1px solid #ff7a7a;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 2000;
}
.popup-overlay {
    display: none;
    background: #000; 
    position: fixed; 
    left: 0; 
    top: 0; 
    z-index: 1000;
    width: 100%; 
    height: 100%;
    opacity: 0.6;
}
.work-box img {
    width: 100%;
}
#work-csm {
    width: 37%;
}
#work-ursa {
    width: 63%;
}
#work-calask {
    width: 60%;
}
#work-mcomm {
    width: 30%;
}
#work-61a {
    width: 30%;
}
#work-intera {
    width: 40%;
    float: right;
}
#work-art {
    width: 32%;
}
#work-yszx {
    width: 68%;
}
#work-p5 {
    width: 42%;
}
#work-go {
    width: 26%;
}
#work-advice {
    width: 59%;
}
#work-blog {
    width: 41%;
}
#work-more {
    background: #778fb5;
    width: 100%;
    padding: 50 0;
    color: white;
    font-size: 30px;
}
#work-more:hover {
    opacity: 0.8;
}

/* Contact */
#contact.container {
    padding: 50 0 100 0;
    text-align: center;
}
#contact-content {
    padding: 0 150 20 150;
}
.contact-box {
    display: inline-block;
    opacity: 0.5;
    height: 75px;
    width: 75px;
    transition: 1s;
}
.contact-box:hover {
    transition: 1s;
    opacity: 1;
}

/*Support*/
body {
    font-family: 'Dosis', sans-serif;
    line-height: 1.8;
    font-size: 17px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html {
    overflow-x: hidden;
}
h1 {
    text-align: center;
    font-family: 'Montez', cursive;
    color: #778fb5;
    font-size: 40px;
    text-shadow: 1px 1px #4a484b;
}
h2 {
    text-align: center;
    font-size: 20px;
}
h3 {
    margin: 0 0 7 0;
    font-size: 22px;
}
a {
    text-decoration: none;
    color: #778fb5;
    transition: 0.7s;
}
a:hover {
    transition: 0.7s;
    color: #4a484b;
}
td {
    vertical-align: top;
    line-height: 1.5;
}

footer {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    width: 100%;
    background: #4a484b;
    color: #778fb5;
    font-size: 16px;
    padding: 10px;
}

/*Responsivity*/
@media screen and (max-width: 623px) {
    #education.container {
        display: block;
        margin-bottom: 60px;
        text-align: center;
        padding: 20px;
    }
    #ed-seal {
        width: 100%;
        text-align: center;
        margin-left: 0px;
    }
    #skills.container {
        padding: 50 20 700 20;
        text-align: center;
        background: #c5d3de;
    }
    #skills li {
        width: 40%;
        background: #778fb5;
        transition: 0.5s;
        padding: 5px;
        color: white;
        margin: 2px;
        border: 3px dotted #4a484b;
        font-size: 18px;
    }
    #skills li strong {
        font-size: 18px;
        color: #4a484b;
        transition: 0.5s;
    }
    #contact.container {
        padding: 50 0 150 0;
        text-align: center;
    }
    #contact-content {
        padding: 0 50;
    }
    #contact-box-container {
        padding: 50px;
    }
    .contact-box {
        display: inline-block;
        opacity: 0.5;
        height: 75px;
        width: 75px;
        transition: 1s;
        margin: auto;
    }
    .contact-box:hover {
        transition: 1s;
        opacity: 1;
    }
}
@media screen and (max-width: 700px) {
    #about.container {
        background: #778fb5;
        color: #4a484b;
        padding: 50 40 100 40;
        display: block;
    }
}
@media screen and (max-width: 787px) {
    #work-csm, #work-ursa, #work-calask, #work-intera, #work-mcomm, #work-61a, #work-art, #work-yszx, #work-p5, #work-go, #work-advice, #work-blog {
        width: 100%;
    }
    .work-box {
        opacity: 0.5;
        transition: 0.5s;
    }
    .work-box img {
        height: 200px;
    }
    #work.container {
        text-align: center;
        padding: 50;
        background: #4a484b;
        padding-bottom: 2550px;
        display: block;
    }
}
@media screen and (min-width: 800px) {
    #work.container {
        text-align: center;
        padding: 50;
        background: #4a484b;
        padding-bottom: 1700px;
        display: block;
    }
}
@media screen and (min-width: 967px) {
    #about.container {
        background: #778fb5;
        color: #4a484b;
        margin: auto;
        padding: 50 170 100 170;
    }
    #ed-seal {
        float: left;
        margin-left: 200;
        padding: 10 70 50 0;
        width: 200px;
        height: 200px;
    }
    #skills.container {
        padding: 50 50 400 50;
        text-align: center;
        background: #c5d3de;
    }
    #work.container {
        text-align: center;
        padding: 50 150;
        background: #4a484b;
        padding-bottom: 1500px;
    }
}
@media screen and (min-width: 1037px) {
    #work.container {
        text-align: center;
        padding: 50 200;
        background: #4a484b;
        padding-bottom: 1700px;
    }
    #contact-content {
        padding: 0 300 20 300;
    }
}
@media screen and (min-width: 1300px) {
    #work.container {
        text-align: center;
        padding: 50 200;
        background: #4a484b;
        padding-bottom: 2000px;
    }
}