/*Navigation Bar Elements*/
#navbar-first {
    font-size: 30px;
    position: fixed;
    width: 100%;
    background: #4a484b;
    top: 0;
    left: 0;
    z-index: 100;
}
#navbar-first a {
    color: #c5d3de;
    text-decoration: none;
    transition: 0.7s;
    font-family: 'Montez', cursive;
}
#navbar-first a:hover {
    opacity: 0.5;
    transition: 0.7s;
}
#title {
    float: left;
    padding: 10 30 0 30px;
}
.navbar-item-logo {
    height: 40px;
    padding: 18 3 0 3;
}
#navbar-second {
    border: 2px dotted #4a484b;
    font-size: 30px;
    word-spacing: 30px;
    position: fixed;
    right: 0px;
    top: 72px;
    width: 100%;
    background: #778fb5;
    opacity: 0.9;
    z-index: 100;
    display: inline-block;
}
#navbar-second a {
    color: white;
    text-decoration: none;
    transition: 0.7s;
    font-family: 'Montez', cursive;
    margin: 0 20;
    text-shadow: 2px 2px #4a484b;
    float: right;
}
#navbar-second a:hover {
    color: #283347;
    transition: 0.7s;
    text-shadow: 0px 0px;
}

/* Heading */
#home {
    max-width: 100%;
    height: auto;
}

/* About */
#about.container {
    background: #778fb5;
    color: #4a484b;
    max-width: 100%;
    padding: 50 100 100 100;
}
#about h1, #about h2 {
    color: white;
}
#about a {
    color: #4a484b;
}
#about a:hover {
    color: #c5d3de;
}
#about p {
    color: white;
}

/* Work */
#work.container {
    text-align: center;
    padding: 50 70 100 70;
    background: #4a484b;
    display: inline-block;
}
#work h1 {
    color: #c5d3de;
    text-shadow: 1px 1px #778fb5;
    padding-bottom: 110px;
}
.work-box {
    opacity: 0.5;
    transition: 0.5s;
    float: left;
    margin-top: -102px;
}
.work-box:hover {
    opacity: 1;
    transition: 0.5s;
}
.work-box .work-content {
    position: relative;
    bottom: 101px;
    visibility: hidden;
    text-align: center;
    padding: 20 0 20 0;
    color: white;
    background: #4a484b;
    opacity: 0;
    -webkit-transition: visibility 0s linear 0.25s, 
        opacity 0.25s linear;
    font-size: 16px;
    border: 3px dotted #778fb5;
}
.work-box:hover .work-content {
    visibility: visible;
    opacity: 0.9;
    -webkit-transition-delay: 0s;
}
.work-content i {
    color: #c5d3de;
}
.work-box img {
    width: 100%;
}
#work-csm {
    width: 37%;
}
#work-ursa {
    width: 63%;
}
#work-calask {
    width: 60%;
}
#work-mcomm {
    width: 30%;
}
#work-61a {
    width: 30%;
}
#work-intera {
    width: 40%;
    float: right;
}
#work-art {
    width: 32%;
}
#work-yszx {
    width: 68%;
}
#work-p5 {
    width: 42%;
}
#work-go {
    width: 26%;
}
#work-advice {
    width: 59%;
}
#work-blog {
    width: 41%;
}
#work-more {
    background: #778fb5;
    width: 100%;
    padding: 50 0;
    color: white;
    font-size: 30px;
}
#work-more:hover {
    opacity: 0.8;
}

/* Contact */
#contact.container {
    padding: 50 0 100 0;
    text-align: center;
}
#contact-content {
    padding: 0 150 20 150;

/*Support*/
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.8;
    font-size: 17px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html {
    overflow-x: hidden;
}
h1 {
    text-align: center;
    font-family: 'Montez', cursive;
    color: #778fb5;
    font-size: 40px;
    text-shadow: 1px 1px #4a484b;
}
h2 {
    text-align: center;
    font-size: 20px;
}
h3 {
    margin: 0 0 7 0;
    font-size: 22px;
}
a {
    text-decoration: none;
    color: #778fb5;
    transition: 0.7s;
}
a:hover {
    transition: 0.7s;
    color: #4a484b;
}
td {
    vertical-align: top;
    line-height: 1.5;
}

footer {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    width: 100%;
    background: #4a484b;
    color: #778fb5;
    font-size: 16px;
    padding: 10px;
}

/*Responsivity*/
@media screen and (max-width: 680px) {
    #contact.container {
        padding: 50 0 150 0;
        text-align: center;
    }
    #contact-content {
        padding: 0 50;
    }
}
@media screen and (max-width: 700px) {
    #about.container {
        padding: 50 40 100 40;
    }
}
@media screen and (max-width: 827px) {
    #work-csm, #work-ursa, #work-calask, #work-intera, #work-mcomm, #work-61a, #work-art, #work-yszx, #work-p5, #work-go, #work-advice, #work-blog {
        width: 100%;
    }
    .work-box img {
        height: 200px;
    }
    #work.container {
        padding: 100;
        display: block;
        padding-bottom: 2600px;
    }
}
@media screen and (min-width: 828px) {
    #work.container {
        padding: 50 50 100 50;
    }
}
@media screen and (min-width: 967px) {
    #about.container {
        margin: auto;
        padding: 50 170 100 170;
    }
    #work.container {
        padding: 50 100 150 100;
    }
}
@media screen and (min-width: 1140px) {
    #work.container {
        padding: 50 200 200 200;
    }
    #contact-content {
        padding: 0 300 20 300;
    }
}