.photography.linked-picture {
    margin: 10px;
    visibility: visible;
    width: 400px;
}
h2, p {
    margin-left: 50px;
}

.btn-container {
    position: fixed;
    top: 60px;
}
.btn {
    background: #778fb5;
    border: none;
    margin-left: 10px;
    padding: 10px;
}
.large-picture-container {
    margin: 0 10px 40px 10px;
}
.large-picture {
    margin: 10px;
    width: 1000px;
}
.picture-caption {
    background-color: grey;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin-left: 30px;
    margin-top: -60px;
    opacity: 0.6;
    padding-left: 10px;
    width: calc(100% - 70px);
}
.grid-picture {
    width: 300px;
}
.grid-caption {
    font-size: 10px;
    margin-left: 15px;
    padding-left: 5px;
    width: calc(100% - 85px);
}

@media screen and (max-width: 1000px) {
    .large-picture {
        width: 700px;
    }
    .picture-caption {
        font-size: 14px;
    }
    .grid-picture {
        width: 300px;
    }
    .grid-caption {
        font-size: 10px;
        margin-left: 15px;
        padding-left: 5px;
        width: calc(100% - 85px);
    }
}

@media screen and (max-width: 700px) {
    .large-picture {
        width: 400px;
    }
    .picture-caption {
        font-size: 14px;
    }
    .grid-picture {
        width: 300px;
    }
    .grid-caption {
        font-size: 10px;
        margin-left: 15px;
        padding-left: 5px;
        width: calc(100% - 85px);
    }
}


