/*Navigation Bar Elements*/
#title {
    font-size: 30px;
    padding: 0 20;
    position: fixed;
    width: 100%;
    background: #4a484b;
    top: 0;
    left: 0;
}
#title a {
    color: #c5d3de;
    text-decoration: none;
    transition: 0.7s;
    font-family: 'Montez', cursive;
}
#title a:hover {
    color: white;
    transition: 0.7s;
}
#navbar {
    border: 2px dotted #4a484b;
    font-size: 30px;
    word-spacing: 30px;
    text-align: center;
    position: fixed;
    right: 0px;
    top: 53px;
    width: 100%;
    background: #778fb5;
    opacity: 0.9;
}
#navbar a {
    color: white;
    text-decoration: none;
    transition: 0.7s;
    font-family: 'Montez', cursive;
    float: right;
    margin: 0 20;
    text-shadow: 2px 2px #4a484b;
}
#navbar a:hover {
    color: #283347;
    transition: 0.7s;
    text-shadow: 0px 0px;
}

/* Heading */
#home {
    max-width: 100%;
    height: auto;
}

/* About */
#about.container {
    background: #778fb5;
    color: #4a484b;
    max-width: 100%;
    padding: 50 100 100 100;
}
#about h1, h2 {
    color: white;
    text-shadow: 2px 2px #4a484b;
}
#about a {
    color: #4a484b;
}
#about a:hover {
    color: #c5d3de;
}
#about p {
    color: white;
}

/* Education */
#education.container {
    padding: 50 0;
    margin-bottom: 60px;
}
#ed-seal {
    float: left;
    margin-left: 50;
    padding: 10 70 50 0;
}
#education h1 {
    text-shadow: 1px 1px #4a484b;
}

/* Involvements */
#involvements.container {
    text-align: center;
    padding: 50 0 200 0;
    background: #4a484b;
}
#involvements h1 {
    color: #c5d3de;
    text-shadow: 1px 1px #778fb5;
    padding-bottom: 50px;
}

/* Contact */
#contact.container {
    padding: 50 0 100 0;
    text-align: center;
}
#contact h1 {
    text-shadow: 1px 1px #4a484b;
}
.box-social {
    display: inline-block;
    opacity: 0.4;
}
#social-mail {
    height: 75px;
    width: 75px;
    background: url("img/social-mail.jpg");
    transition: 0.5s;
}
#social-mail:hover {
    height: 75px;
    width: 75px;
    background: url("img/social-mail-hover.jpg");
    transition: 0.5s;
}
#social-linked {
    height: 75px;
    width: 75px;
    background: url("img/social-linked.jpg");
    transition: 0.5s;
}
#social-linked:hover {
    height: 75px;
    width: 75px;
    background: url("img/social-linked-hover.jpg");
    transition: 0.5s;
}
#social-git {
    height: 75px;
    width: 75px;
    background: url("img/social-git.jpg");
    transition: 0.5s;
}
#social-git:hover {
    height: 75px;
    width: 75px;
    background: url("img/social-git-hover.jpg");
    transition: 0.5s;
}
#social-deviant {
    height: 75px;
    width: 75px;
    background: url("img/social-deviant.jpg");
    transition: 0.5s;
}
#social-deviant:hover {
    height: 75px;
    width: 75px;
    background: url("img/social-deviant-hover.jpg");
    transition: 0.5s;
}
#social-medium {
    height: 75px;
    width: 75px;
    background: url("img/social-medium.jpg");
    transition: 0.5s;
}
#social-medium:hover {
    height: 75px;
    width: 75px;
    background: url("img/social-medium-hover.jpg");
    transition: 0.5s;
}
#social-youtube {
    height: 75px;
    width: 75px;
    background: url("img/social-youtube.jpg");
    transition: 0.5s;
}
#social-youtube:hover {
    height: 75px;
    width: 75px;
    background: url("img/social-youtube-hover.jpg");
    transition: 0.5s;
}

/*Support*/
body {
    font-family: 'Dosis', sans-serif;
    line-height: 1.8;
    font-size: 17px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html {
    overflow-x: hidden;
}
h1 {
    text-align: center;
    font-family: 'Montez', cursive;
    color: #778fb5;
    font-size: 40px;
}
h2 {
    text-align: center;
    font-size: 20px;
}
h3 {
    margin: 0 0 7 0;
    font-size: 22px;
}
a {
    text-decoration: none;
    color: #778fb5;
    transition: 0.7s;
}
a:hover {
    transition: 0.7s;
    color: #4a484b;
}
td {
    vertical-align: top;
    line-height: 1.5;
}
.transition {
    transition: 0.5s;
}

footer {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    width: 100%;
    background: #4a484b;
    color: #778fb5;
    font-size: 16px;
    padding: 10px;
}

/*Responsivity*/
@media screen and (max-width: 800px) {
/*     #about.container
    #education.container
    #involvements.container
    #contact.container */
}

@media screen and (min-width: 1055px) {

}