include mixins.jade
extends photography-base.jade

block append head
  title Tiffany Qi | Aerial Silks

block append content
  .container
    h1 Aerial Silks
    .picture-container
      - const imgSrc = 'assets/img/reel/aerials-';
      +largePicture(imgSrc + 'hands.jpg', 'Rebecca split, Maca de Noia, 2019')
      +largePicture(imgSrc + 'peak.jpg', 'Scorpion, Maca de Noia, 2019')
      +largePicture(imgSrc + 'rebecca.jpg', 'Upside down, Maca de Noia, 2019')
      +largePicture(imgSrc + 'smile.jpg', 'Upside down, Maca de Noia, 2019')
      +largePicture(imgSrc + 'split.jpg', 'Vertical splits, Maca de Noia, 2019')
      +largePicture(imgSrc + 'toss.jpg', 'Toss from hip key, Maca de Noia, 2019')
      +largePicture(imgSrc + 'crossback.jpg', 'Crossback straddle - Aerial Artique 2018 Winter Showcase')
      +largePicture(imgSrc + 'lyra-balance.jpg', 'Back balance on aerial hoop')
      +largePicture(imgSrc + 'lyra-split.jpg', 'Splits on aerial hoop')
      +largePicture(imgSrc + 'lyra-cartwheel.jpg', 'Cartwheel splits on aerial hoop')
      +largePicture(imgSrc + 'lyra-hang-form.jpg', 'Simple hang on aerial hoop')
      +largePicture(imgSrc + 'lyra-legs.jpg', 'Pointed toes')
      +largePicture(imgSrc + 'lyra-beast.jpg', 'Front balance on aerial hoop, but looking disheveled')
      +largePicture(imgSrc + 'lyra-mermaid.jpg', 'Mermaid')
      +largePicture(imgSrc + 'belay.jpg', 'Belay')
      +largePicture(imgSrc + 'dancer.png', 'Music box')
      +largePicture(imgSrc + 'butterfly.jpg', 'Butterfly')
      +largePicture(imgSrc + 'upside-down.jpg', 'Upside down')
      +largePicture(imgSrc + 'star-start.jpg', 'Beginning of a star drop')
      +largePicture(imgSrc + 'star-middle.jpg', 'Middle of a star drop')
      +largePicture(imgSrc + 'star-end.jpg', 'End of a star drop')
      +largePicture(imgSrc + 'half-moon.jpg', 'Half moon')
      +largePicture(imgSrc + 'hamilton-fall.jpeg', 'Flip during hamilton drop')
      +largePicture(imgSrc + 'flip-hang.jpg', 'Flip during waterfall drop')
      +largePicture(imgSrc + 'mirror.jpg', 'Splits in the Kusama Mirrors, Toronto')
      +largePicture(imgSrc + 'toronto-splits.jpg', 'Splits in Casa Loma, Toronto')

block append scripts
  script.
    const pageName = "Aerial Silks";
    trackPageView(pageName);
