include mixins.jade
extends photography-base.jade

block append head
  title Tiffany Qi | Aerial Silks

block append content
  .container
    h1 Aerial Silks
    .picture-container
      - const imgSrc = 'assets/img/reel/aerials-';
      +largePicture(imgSrc + 'crossback.jpg', 'Crossback straddle - Aerial Artique 2018 Winter Showcase')
      +largePicture(imgSrc + 'belay.jpg', 'Belay')
      +largePicture(imgSrc + 'half-moon.jpg', 'Half moon')
      +largePicture(imgSrc + 'star-start.jpg', 'Beginning of a star drop')
      +largePicture(imgSrc + 'star-middle.jpg', 'Middle of a star drop')
      +largePicture(imgSrc + 'star-end.jpg', 'End of a star drop')
      +largePicture(imgSrc + 'katniss.jpg', 'Vertical splits')
      +largePicture(imgSrc + 'ankle-hang.jpeg', 'Ankle hang')
      +largePicture(imgSrc + 'flip-hang.jpg', 'Flip after waterfall drop')
      +largePicture(imgSrc + 'flip.jpg', 'Flip during waterfall drop')
      +largePicture(imgSrc + 'hamilton-fall.jpeg', 'Flip during hamilton drop')
      +largePicture(imgSrc + 'wheeldown.jpeg', 'Middle of a wheeldown')

block append scripts
  script.
    const pageName = "Aerial Silks";
    trackPageView(pageName);
