include mixins.jade
extends photography-base.jade

block append head
  title Tiffany Qi | Art

block append content
  .container
    h1 Art
    p Contact me on <a href="https://instagram.com/polyffany">Instagram</a> for commissions
    h2 Food circus art
    .picture-container
      - const imgSrcFood = 'assets/img/reel/art-food-';
      +largePicture(imgSrcFood + 'spaghetti.jpg', 'Spaghetti rope, Alex James Allan')
      +largePicture(imgSrcFood + 'dill.jpg', 'Dill silks, ')
      +largePicture(imgSrcFood + 'kris.jpg', 'Candy cane pole, Kris')
      +largePicture(imgSrcFood + 'mylyn.jpg', 'Broccoli rabe silks, Mylyn Hosokawa')
      +largePicture(imgSrcFood + 'mollie.jpg', 'Pink lady peel rope, Mollie')
      +largePicture(imgSrcFood + 'alex.jpg', 'Licorice and macaron trapeze, Lex Morgan')
      +largePicture(imgSrcFood + 'viktor.jpg', 'Blueberry juggling, Viktor')
      +largePicture(imgSrcFood + 'anastasia.jpg', 'Pink lady apple peel, Anastasia Sauvage')
      +largePicture(imgSrcFood + 'thai.jpg', 'Red sprinkle silks, Thai')
      +largePicture(imgSrcFood + 'angela.jpg', 'Salmon silks, Angela Chu')
      +largePicture(imgSrcFood + 'bfit.jpg', 'Cream pocky pole, Elizabeth')
      +largePicture(imgSrcFood + 'change.jpg', 'Change')
      +largePicture(imgSrcFood + 'hammock.jpg', 'Sugar hammock, ')
      +largePicture(imgSrcFood + 'jen.jpg', 'Red char silks, Jen')
      +largePicture(imgSrcFood + 'kitty.jpg', 'Ddeokkbeokki pole, Kitty')
      +largePicture(imgSrcFood + 'mooncake-pink.jpg', 'Pink mooncake dancer')
      +largePicture(imgSrcFood + 'mooncake-red.jpg', 'Red mooncake dancer')
      +largePicture(imgSrcFood + 'tea.jpg', 'Tea lyra, ')

      +largePicture(imgSrcFood + 'stefanie.jpg', 'Garlic wings, Stefanie Millinger')
      +largePicture(imgSrcFood + 'wreath.jpg', 'Rosemary Wreath, ')
      +largePicture(imgSrcFood + 'bubble.jpg', 'Water bubble contortion, ')
      +largePicture(imgSrcFood + 'isabella.jpg', 'Flour smoke, Isabella Fonte')
      +largePicture(imgSrcFood + 'david.jpg', 'Grapefruit peel lyra, David Nguyen')
      +largePicture(imgSrcFood + 'air-candy.jpg', 'Pink milk silks, @air.candy')
      +largePicture(imgSrcFood + 'sugar.jpg', 'Isomalt cage, Tiffany')
      +largePicture(imgSrcFood + 'veronica.jpg', 'Chocolate straps, Veronica Blair')
      +largePicture(imgSrcFood + 'christine.jpg', 'Black sesame chiffon cork, Christine Lee')
      +largePicture(imgSrcFood + 'orange.jpg', 'Orange umbrella, Karisha Abramenko')
      +largePicture(imgSrcFood + 'chocolate.jpg', 'Chocolate chair, Letetia')

    h2 Studio Ghibli
    .picture-container
      - const imgSrcGhibli = 'assets/img/reel/art-ghibli-';
      +largePicture(imgSrcGhibli + 'mononoke.jpg', 'San on silks, watercolor')
      +largePicture(imgSrcGhibli + 'sophie.jpg', 'Sophie on silks, watercolor')
      +largePicture(imgSrcGhibli + 'chihiro.jpg', 'Chihiro and Haku on silks, watercolor')
      +largePicture(imgSrcGhibli + 'nausicaa.jpg', 'Nausicaa on silks, watercolor')
      +largePicture(imgSrcGhibli + 'totoro.jpg', 'Mei and Satsuki on silks, watercolor')

    h2 Disney
    .picture-container
      - const imgSrcDisney = 'assets/img/reel/art-disney-';
      +largePicture(imgSrcDisney + 'mulan.jpg', 'Mulan with seaweed hair')
      +largePicture(imgSrcDisney + 'moana.jpg', 'Moana with wild rice hair')
      +largePicture(imgSrcDisney + 'belle.jpg', 'Belle with noodle hair')
      +largePicture(imgSrcDisney + 'ariel.jpg', 'Ariel with pomogranate hair')

    h2 Portraits and people
    .picture-container
      - const imgSrc = 'assets/img/reel/art-';
      +largePicture(imgSrc + 'portrait-glo.jpg', 'Glographics')
      +largePicture(imgSrc + 'portrait-chadwick.jpg', 'Chadwick Boseman')
      +largePicture(imgSrc + 'portrait-george.jpg', 'George Floyd')
      +largePicture(imgSrc + 'portrait-self.jpg', 'Self portrait')
      +largePicture(imgSrc + 'portrait-wheesung.jpg', 'Wheesung')
      +largePicture(imgSrc + 'portrait-wing.jpg', 'Wing')
      +largePicture(imgSrc + 'portrait-claire.jpg', 'Claire and sourdough')
      +largePicture(imgSrc + 'circus-maia.jpg', 'Maia')
      +largePicture(imgSrc + 'circus-angela.jpg', 'Angela')
      +largePicture(imgSrc + 'circus-jeyne.jpg', 'Jeyne Butterfly')

block append scripts
  script.
    const pageName = "Art";
    trackPageView(pageName);
