include mixins.jade
extends photography-base.jade

block append head
  title Tiffany Qi | Art

block append content
  .container
    h1 Art
    p Contact me on <a href="https://instagram.com/aerial_baker">Instagram</a> for commissions
    h2 Food circus art
    .picture-container
      - const imgSrcFood = 'assets/img/reel/art-food-';
      +largePicture(imgSrcFood + 'spaghetti.jpg', 'Spaghetti rope, Alex James Allan')
      +largePicture(imgSrcFood + 'isabella.jpg', 'Flour smoke, Isabella Fonte')
      +largePicture(imgSrcFood + 'david.jpg', 'Grapefruit peel lyra, David Nguyen')
      +largePicture(imgSrcFood + 'air-candy.jpg', 'Pink milk silks, @air.candy')
      +largePicture(imgSrcFood + 'alex.jpg', 'Licorice and macaron trapeze, Lex Morgan')
      +largePicture(imgSrcFood + 'sugar.jpg', 'Isomalt cage, Tiffany')
      +largePicture(imgSrcFood + 'veronica.jpg', 'Chocolate straps, Veronica Blair')
      +largePicture(imgSrcFood + 'brownie.jpg', 'Brownie box, Ash Rex')
      +largePicture(imgSrcFood + 'viktor.JPG', 'Blueberry juggling, Viktor')
      +largePicture(imgSrcFood + 'christine.jpg', 'Black sesame chiffon cork, Christine Lee')
      +largePicture(imgSrcFood + 'orange.jpg', 'Orange umbrella, Karisha Abramenko')
      +largePicture(imgSrcFood + 'silks.jpg', 'Black pasta silks, Jill Franklin')
      +largePicture(imgSrcFood + 'beets.jpg', 'Beet noodles silks, Thai & Anastasia')
      +largePicture(imgSrcFood + 'simone.jpg', 'Choux beams, Simone Biles')
    h2 Portraits and people
    .picture-container
      - const imgSrc = 'assets/img/reel/art-';
      +largePicture(imgSrc + 'portrait-glo.jpg', 'Glographics')
      +largePicture(imgSrc + 'portrait-chadwick.jpg', 'Chadwick Boseman')
      +largePicture(imgSrc + 'portrait-george.jpg', 'George Floyd')
      +largePicture(imgSrc + 'portrait-self.jpg', 'Self portrait')
      +largePicture(imgSrc + 'portrait-wheesung.jpg', 'Wheesung')
      +largePicture(imgSrc + 'portrait-wing.jpg', 'Wing')
      +largePicture(imgSrc + 'portrait-claire.jpg', 'Claire and sourdough')
      +largePicture(imgSrc + 'circus-maia.jpg', 'Maia')
      +largePicture(imgSrc + 'circus-angela.jpg', 'Angela')
      +largePicture(imgSrc + 'circus-jeyne.jpg', 'Jeyne Butterfly')

block append scripts
  script.
    const pageName = "Art";
    trackPageView(pageName);
