include mixins.jade
extends photography-base.jade

block append head
  title Tiffany Qi | Baking

block append content
  .container
    h1 Baking
    .picture-container
      - const imgSrc = 'assets/img/reel/homemade-';
      +largePicture(imgSrc + 'choco-chip.jpg', 'Chocolate chip sea salt cookies, Mixbies')
      +largePicture(imgSrc + 'rolls-front.jpeg', 'Sponge Roulades - Coffee & Chocolate, Matcha, and Vanilla Strawberry')
      +largePicture(imgSrc + 'rolls-side.jpeg', 'Sponge Roulades - Coffee & Chocolate, Matcha, and Vanilla Strawberry')
      +largePicture(imgSrc + 'meringue.jpg', 'Lemon meringue pie')
      +largePicture(imgSrc + 'chiffon-slice.jpg', 'Chocolate chiffon with raspberries')
      +largePicture(imgSrc + 'chiffon.jpg', 'Chocolate chiffon with raspberries')
      +largePicture(imgSrc + 'matcha-bread.jpg', 'Matcha and red bean twist loaf')
      +largePicture(imgSrc + 'macaron.jpg', 'Birthday macarons with chocolate ganache')
      +largePicture(imgSrc + 'rainbow-cake.jpg', 'Sponge cake with rainbow buttercream')
      +largePicture(imgSrc + 'smores.jpg', 'Smores bars')
      +largePicture(imgSrc + 'moon-cookies.jpg', 'Matcha white chocolate and chocolate chip cookie dough')
      +largePicture(imgSrc + 'cinnamon-roll-cookies.jpg', 'Cinnamon roll cookies')
      +largePicture(imgSrc + 'coffee-swirl.jpg', 'Iced coffee swirl cookies, Mixbies')
      +largePicture(imgSrc + 'confetti.jpg', 'Confetti cookies, Mixbies')
      +largePicture(imgSrc + 'crepe-cake.jpg', 'Matcha crêpe cake with orange cream')
      +largePicture(imgSrc + 'bbq-buns.jpg', 'Barbeque pork buns')
      +largePicture(imgSrc + 'meringue-pie.jpg', 'Pomelo meringue pie')
      +largePicture(imgSrc + 'mooncakes.jpg', 'Moon cakes with walnut and date filling')
      +largePicture(imgSrc + 'pomelo-roulade.jpg', 'Pomelo meringue roulade')
      +largePicture(imgSrc + 'shortbread.jpg', 'Shortbread cookies')

block append scripts
  script.
    const pageName = "Baking";
    trackPageView(pageName);
