include mixins.jade
extends photography-base.jade

block append head
  title Tiffany Qi | Desserts

block append content
  .container
    h1 Pastry and Desserts
    .picture-container
      - const imgSrc = 'assets/img/reel/homemade-';
      +largePicture(imgSrc + 'death-note-tea-party.jpg', 'Fruit tart, chiffon, macarons, and choux, Death Note')
      +largePicture(imgSrc + 'five-full.jpg', 'Lemon number five cake with toasted meringue, mint, and raspberries')
      +largePicture(imgSrc + 'five-circle.jpg', 'Lemon number five cake with toasted meringue, mint, and raspberries')
      +largePicture(imgSrc + 'arb-cake.jpg', 'Arb pound cake and macarons')
      +largePicture(imgSrc + 'birthday-cake-slice.jpg', 'Birthday cake, black sesame, barley grass, strawberries, peaches')
      +largePicture(imgSrc + 'naan-cake.jpg', '"Naan" cake and "saag paneer')
      +largePicture(imgSrc + 'unicorn.jpg', 'Rainbow unicorn cake')
      +largePicture(imgSrc + 'alpaca-cake.jpg', 'Alpaca cake')
      +largePicture(imgSrc + 'cake-swirls.jpg', 'Alpaca cake swirls')
      +largePicture(imgSrc + 'psyduck-cake.jpeg', 'Psyduck bathtub cake')
      +largePicture(imgSrc + 'rainbow-cake.jpg', 'Sponge cake with rainbow buttercream')
      +largePicture(imgSrc + 'crepe-cake.jpg', 'Matcha crêpe cake with orange cream')
      +largePicture(imgSrc + 'rolls-front.jpeg', 'Sponge Roulades - Coffee & Chocolate, Matcha, and Vanilla Strawberry')
      +largePicture(imgSrc + 'chiffon-slice.jpg', 'Chocolate chiffon with raspberries')
      +largePicture(imgSrc + 'matcha-cheesecake.jpg', 'Matcha cheesecake')
      +largePicture(imgSrc + 'burnt-cheesecake.jpg', 'Burnt Basque Cheesecake')
      +largePicture(imgSrc + 'brownie.jpg', 'Brownie, rocky road')

      +largePicture(imgSrc + 'death-note-wagashi.jpg', 'Wagashi, Death Note')
      +largePicture(imgSrc + 'mooncake-fondant-front.jpg', 'Mooncake truffles with fondant and cake')
      +largePicture(imgSrc + 'mooncakes-variety.jpg', 'Mooncake truffles and snowskin mooncakes')
      +largePicture(imgSrc + 'mooncake-truffle-colors.jpeg', 'Mooncake truffles')
      +largePicture(imgSrc + 'mooncake-red-bean.jpg', 'Red bean, traditional')
      +largePicture(imgSrc + 'mooncake-red-bean-yolk.jpg', 'Red bean with salted egg yolk, traditional')
      +largePicture(imgSrc + 'mooncake-red-velvet.jpg', 'Red velvet cake and cream cheese, snowskin')
      +largePicture(imgSrc + 'mooncake-blue.jpg', 'Mooncake truffles, blue and brownie')
      +largePicture(imgSrc + 'moon-cookies.jpg', 'Matcha white chocolate and chocolate chip cookie dough')

      +largePicture(imgSrc + 'macaron.jpg', 'Birthday macarons with chocolate ganache')
      +largePicture(imgSrc + 'choco-chip.jpg', 'Chocolate chip sea salt cookies, Mixbies')
      +largePicture(imgSrc + 'confetti.jpg', 'Confetti cookies, Mixbies')
      +largePicture(imgSrc + 'shortbread.jpg', 'Shortbread cookies')
      +largePicture(imgSrc + 'pusheen-apple.jpg', 'Pusheen shortbread')

      +largePicture(imgSrc + 'bbq-buns.jpg', 'Barbeque pork buns')
      +largePicture(imgSrc + 'pineapple-buns-2.jpg', 'Pineapple buns')
      +largePicture(imgSrc + 'sourdough.jpg', 'Classic Sourdough Loaf')
      +largePicture(imgSrc + 'sourdough-chocolate.jpeg', 'Chocolate Sourdough Loaf')
      +largePicture(imgSrc + 'sourdough-carrot.jpeg', 'Carrot Sourdough Loaf')
      +largePicture(imgSrc + 'focaccia.jpg', 'Focaccia')
      +largePicture(imgSrc + 'totoro-bread.jpg', 'Totoro Milk Bread')
      +largePicture(imgSrc + 'brioche.jpg', 'Brioche')
      +largePicture(imgSrc + 'pizza.jpg', 'Sausage and Pepper Pizza')

      +largePicture(imgSrc + 'gudetama.jpg', 'Gudetama Pavlova')
      +largePicture(imgSrc + 'pomelo-roulade.jpg', 'Pomelo meringue roulade')
      +largePicture(imgSrc + 'croissants.jpg', 'Croissant')
      +largePicture(imgSrc + 'matcha-croissant.jpg', 'Croissant, Matcha')
      +largePicture(imgSrc + 'portuguese-egg-tarts-2.jpg', 'Portuguese egg tarts')
      +largePicture(imgSrc + 'lemon-meringue.jpg', 'Deconstructed lemon meringue pie')
      +largePicture(imgSrc + 'meringue.jpg', 'Lemon meringue pie')
      +largePicture(imgSrc + 'meringue-pie.jpg', 'Pomelo meringue pie')
      +largePicture(imgSrc + 'bee-pie.jpg', 'Cherry and apricot bee pie')
      +largePicture(imgSrc + 'pusheen-pie.jpg', 'Cherry pusheen pie')
      +largePicture(imgSrc + 'entremet.jpeg', 'Blueberry Cheesecake Entremet')

      +largePicture(imgSrc + 'choux.jpg', 'Choux with green tea craquelin and pastry cream')
      +largePicture(imgSrc + 'rocher.jpg', 'Rocher')
      +largePicture(imgSrc + 'smores.jpg', 'Smores bars')
      +largePicture(imgSrc + 'hearts.jpg', 'Black Lives Matter')
      +largePicture(imgSrc + 'hong-shao-rou.jpg', 'Hong Shao Rou')

block append scripts
  script.
    const pageName = "Baking";
    trackPageView(pageName);
