include mixins.jade
extends photography-base.jade

block append head
  title Tiffany Qi | Baking

block append content
  .container
    h1 Baking
    .picture-container
      - const imgSrc = 'assets/img/reel/homemade-';
      +largePicture(imgSrc + 'choco-chip.jpg', 'Chocolate chip sea salt cookies, Mixbies')
      +largePicture(imgSrc + 'rolls-front.jpeg', 'Sponge Roulades - Coffee & Chocolate, Matcha, and Vanilla Strawberry')
      +largePicture(imgSrc + 'rolls-side.jpeg', 'Sponge Roulades - Coffee & Chocolate, Matcha, and Vanilla Strawberry')
      +largePicture(imgSrc + 'meringue.jpg', 'Lemon meringue pie')
      +largePicture(imgSrc + 'chiffon-slice.jpg', 'Chocolate chiffon with raspberries')
      +largePicture(imgSrc + 'chiffon.jpg', 'Chocolate chiffon with raspberries')
      +largePicture(imgSrc + 'portuguese-egg-tarts-1.jpg', 'Portuguese egg tarts')
      +largePicture(imgSrc + 'portuguese-egg-tarts-2.jpg', 'Portuguese egg tarts')
      +largePicture(imgSrc + 'puff-pastry.jpg', 'Baked swirled puff pastry')
      +largePicture(imgSrc + 'matcha-bread.jpg', 'Matcha and red bean twist loaf')
      +largePicture(imgSrc + 'macaron.jpg', 'Birthday macarons with chocolate ganache')
      +largePicture(imgSrc + 'rainbow-cake.jpg', 'Sponge cake with rainbow buttercream')
      +largePicture(imgSrc + 'pineapple-bun-spread.jpg', 'Pineapple buns, portuguese egg tarts, and sourdough biscuits')
      +largePicture(imgSrc + 'pineapple-buns-1.jpg', 'Pineapple buns')
      +largePicture(imgSrc + 'pineapple-buns-2.jpg', 'Pineapple buns')
      +largePicture(imgSrc + 'smores.jpg', 'Smores bars')
      +largePicture(imgSrc + 'moon-cookies.jpg', 'Matcha white chocolate and chocolate chip cookie dough')
      +largePicture(imgSrc + 'cinnamon-roll-cookies.jpg', 'Cinnamon roll cookies')
      +largePicture(imgSrc + 'coffee-swirl.jpg', 'Iced coffee swirl cookies, Mixbies')
      +largePicture(imgSrc + 'confetti.jpg', 'Confetti cookies, Mixbies')
      +largePicture(imgSrc + 'pillsbury.jpg', 'Pillsbury, the sourdough starter. Born Jan 2, 2019')
      +largePicture(imgSrc + 'sourdough-1.jpg', 'Sourdough made from Pillsbury')
      +largePicture(imgSrc + 'crepe-cake.jpg', 'Matcha crêpe cake with orange cream')
      +largePicture(imgSrc + 'bbq-buns.jpg', 'Barbeque pork buns')
      +largePicture(imgSrc + 'meringue-pie.jpg', 'Pomelo meringue pie')
      +largePicture(imgSrc + 'mooncakes.jpg', 'Moon cakes with walnut and date filling')
      +largePicture(imgSrc + 'pomelo-roulade.jpg', 'Pomelo meringue roulade')
      +largePicture(imgSrc + 'shortbread.jpg', 'Shortbread cookies')
      +largePicture(imgSrc + 'chocolate-bread.jpg', 'Chocolate and orange loaf')
      +largePicture(imgSrc + 'choux.jpg', 'Choux with green tea craquelin and pastry cream')
      +largePicture(imgSrc + 'donuts.jpg', 'Donuts')
      +largePicture(imgSrc + 'kiwi-cake.jpg', 'Vanilla sponge cake with kiwi jam and swiss buttercream')

block append scripts
  script.
    const pageName = "Baking";
    trackPageView(pageName);
