include mixins.jade
extends photography-base.jade

block append head
  title Tiffany Qi | Baking and Cooking

block append content
  .container
    h1 Baking
    .picture-container
      - const imgSrc = 'assets/img/reel/homemade-';
      +largePicture(imgSrc + 'choco-chip.jpg', 'Chocolate chip sea salt cookies, Mixbies')
      +largePicture(imgSrc + 'sourdough-chocolate.jpeg', 'Chocolate Sourdough Loaf')
      +largePicture(imgSrc + 'sourdough-carrot.jpeg', 'Carrot Sourdough Loaf')

      +largePicture(imgSrc + 'meringue.jpg', 'Lemon meringue pie')
      +largePicture(imgSrc + 'chiffon-slice.jpg', 'Chocolate chiffon with raspberries')
      +largePicture(imgSrc + 'portuguese-egg-tarts-2.jpg', 'Portuguese egg tarts')

      +largePicture(imgSrc + 'macaron.jpg', 'Birthday macarons with chocolate ganache')
      +largePicture(imgSrc + 'rainbow-cake.jpg', 'Sponge cake with rainbow buttercream')
      +largePicture(imgSrc + 'pineapple-buns-2.jpg', 'Pineapple buns')

      +largePicture(imgSrc + 'matcha-bread.jpg', 'Matcha and red bean twist loaf')
      +largePicture(imgSrc + 'chocolate-bread.jpg', 'Chocolate and orange loaf')
      +largePicture(imgSrc + 'rolls-front.jpeg', 'Sponge Roulades - Coffee & Chocolate, Matcha, and Vanilla Strawberry')

      +largePicture(imgSrc + 'smores.jpg', 'Smores bars')
      +largePicture(imgSrc + 'nabe.jpeg', 'Soy Milk Nabe with Cabbage, Tofu, Carrot, Kale, and Egg Crumble')
      +largePicture(imgSrc + 'moon-cookies.jpg', 'Matcha white chocolate and chocolate chip cookie dough')
      +largePicture(imgSrc + 'coffee-swirl.jpg', 'Iced coffee swirl cookies, Mixbies')
      +largePicture(imgSrc + 'confetti.jpg', 'Confetti cookies, Mixbies')
      +largePicture(imgSrc + 'crepe-cake.jpg', 'Matcha crêpe cake with orange cream')
      +largePicture(imgSrc + 'bbq-buns.jpg', 'Barbeque pork buns')
      +largePicture(imgSrc + 'meringue-pie.jpg', 'Pomelo meringue pie')
      +largePicture(imgSrc + 'mooncakes.jpg', 'Moon cakes with walnut and date filling')
      +largePicture(imgSrc + 'pomelo-roulade.jpg', 'Pomelo meringue roulade')
      +largePicture(imgSrc + 'shortbread.jpg', 'Shortbread cookies')
      +largePicture(imgSrc + 'choux.jpg', 'Choux with green tea craquelin and pastry cream')

block append scripts
  script.
    const pageName = "Baking";
    trackPageView(pageName);
