// DOCTYPE html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='author', content='Tiffany Qi')
      meta(name='description', content="I'm Tiffany Qi, and welcome to my page!")
      meta(name='keywords', content='tiffany qi, uc berkeley, mixpanel')
      // Open Graph data
      meta(property='og:title', content='Tiffany Qi')
      meta(property='og:type', content='personal website')
      meta(property='og:url', content='http://tiffanyqi.com/')
      meta(property='og:description', content="I'm Tiffany Qi, and welcome to my page!")
      link(rel='stylesheet', type='text/css', href='assets/css/common.css')
      link(rel='shortcut icon', href='assets/img/msc/favicon.ico', type='image/x-icon')
      link(rel='icon', href='assets/img/msc/favicon.ico', type='image/x-icon')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
      script(src='assets/js/mixpanel.js')
      script(src='assets/js/script.js')
      link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic', rel='stylesheet', type='text/css')
      link(href='http://fonts.googleapis.com/css?family=Montez', rel='stylesheet', type='text/css')
  body
    // Navigation
    .navbar
      #title
        .navbar-item
          a(href='index' id='index') Tiffany Qi
      .navbar-items
        .navbar-item
          a(href='about' id='about') about
        .navbar-item
          a(href='engineering' id='engineering') engineering
        .navbar-item
          a(href='photography' id='photography') photography
        .navbar-item
          a(href='writing' id='writing') writing

    block content
    block scripts
    footer
      .text © Tiffany Qi 2020 · All Rights Reserved
      .social-container
        a.footer-item(href='mailto:hello@tiffanyqi.com' id="email") Email
        |  | 
        a.footer-item(href='http://www.linkedin.com/in/tiffanyqi' id="linkedin") LinkedIn
        |  | 
        a.footer-item(href='http://www.github.com/tiffanyqi' id="git") Github
        |  | 
        a.footer-item(href='https://www.instagram.com/aerial_baker/' id="instagram") Instagram
        |  | 
        a.footer-item(href='http://sabakuwood.deviantart.com' id="deviantart") DeviantArt
        |  | 
        a.footer-item(href='http://medium.com/@tiffanyqi' id="medium") Medium
        |  | 
        a.footer-item(href='http://www.youtube.com/user/sabakuxsae/featured' id="youtube") YouTube
