include mixins.jade
extends photography-base.jade

block append head
  title Tiffany Qi | Contortion

block append content
  .container
    h1 Contortion
    .picture-container
      - const imgSrc = 'assets/img/reel/contortion-';
      +largePicture(imgSrc + 'mirror.jpg', 'Splits in the Kusama Mirrors, Toronto')
      +largePicture(imgSrc + 'lacma-splits.jpg', 'Splits in LACMA, LA')
      +largePicture(imgSrc + 'couch-splits.jpg', 'Oversplits on a couch')
      +largePicture(imgSrc + 'splits-3in.jpg', 'Oversplits, 3 inches')
      +largePicture(imgSrc + 'splits-9in.png', 'Oversplits, 9 inches')
      +largePicture(imgSrc + 'knee-leg.png', 'Vertical splits via knee')
      +largePicture(imgSrc + 'leg-scale.png', 'Vertical leg scale')
      +largePicture(imgSrc + 'leg-scale-door-frame.jpg', 'Vertical leg scale, door frame')
      +largePicture(imgSrc + 'leg-scale-door-frame-2.jpg', 'Vertical leg scale, door frame')
      +largePicture(imgSrc + 'needle-door-frame.jpg', 'Needle almost, door frame')
      +largePicture(imgSrc + 'spiral.png', 'Back leg scale')
      +largePicture(imgSrc + 'planche.png', 'Planche, still perfecting')
      +largePicture(imgSrc + 'downward-dog.png', 'Three legged dog')
      +largePicture(imgSrc + 'side-leg.png', 'Side leg stretch')
      +largePicture(imgSrc + 'middle.png', 'Middle oversplits')
      +largePicture(imgSrc + 'pancake.png', 'Full pancake')

      +largePicture(imgSrc + 'backbend-2.png', 'Backbend')
      +largePicture(imgSrc + 'backbend-3.png', 'Backbend')
      +largePicture(imgSrc + 'camel.jpg', 'Camel')
      +largePicture(imgSrc + 'feet-head.png', 'Touching my feet to my head')
      +largePicture(imgSrc + 'backbend.png', 'Trying to touch the ground')
      +largePicture(imgSrc + 'little-thunderbolt.png', 'Little thunderbolt')
      +largePicture(imgSrc + 'bow.png', 'Bow pose')
      +largePicture(imgSrc + 'bridge-hand.png', 'Bridge, foot to hand')
      +largePicture(imgSrc + 'knee-head.png', 'Touching my foot to head')
      +largePicture(imgSrc + 'leg-floor.png', 'Working on my needle')

      +largePicture(imgSrc + 'banana.jpg', 'Banana, still perfecting')
      +largePicture(imgSrc + 'chin-stand.png', 'Chin Stand, still perfecting')

block append scripts
  script.
    const pageName = "Contortion";
    trackPageView(pageName);
