include mixins.jade
extends base.jade

block append head
  title Tiffany Qi
  link(rel='stylesheet', type='text/css', href='assets/css/experience.css')

block content

block scripts
  script.
    const pageName = "Experience";
    trackPageView(pageName);
    $("#navbar-first a").on("click", function(event){
    trackClick(pressedNavItem, this.id, pageName);
    });
