extends base.jade

block append head
  title Tiffany Qi
  link(rel='stylesheet', type='text/css', href='assets/css/index.css')

block content
  #cover Tiffany Qi
  .picture-container
    a.hover-picture-container(href='experience')
      img.display-picture.index(src='assets/img/reel/me-and-poogle.jpeg')
      .display-description About & Experience
    a.hover-picture-container(href='photography')
      img.display-picture.index(src='assets/img/reel/japan-miyajima-tori.jpg')
      .display-description Travel & Photography
    a.hover-picture-container(href='photography')
      img.display-picture.index(src='assets/img/reel/aerials-katniss.jpg')
      .display-description Aerial Silks
    a.hover-picture-container(href='photography')
      img.display-picture.index(src='assets/img/reel/sf-honey-toast.jpg')
      .display-description Food
    a.hover-picture-container(href='work/writing')
      img.display-picture.index(src='assets/img/work/productivity.png')
      .display-description Writing
    a.hover-picture-container(href='work/engineering')
      img.display-picture.index(src='assets/img/work/tablefortwo.png')
      .display-description Engineering

block scripts
  script.
    const pageName = "Index";
    trackPageView(pageName);
    $("#navbar-first a").on("click", function(event){
    trackClick(pressedNavItem, this.id, pageName);
    });
    $("h2 a").on("click", function(event){
    trackClick(externalLinkView, this.id, pageName);
    });
