include mixins.jade
extends base.jade

block append head
  title Tiffany Qi
  link(rel='stylesheet', type='text/css', href='assets/css/index.css')

block content
  #cover Tiffany Qi
  .picture-container
    - const imgSrc = 'assets/img/'
    +linkedPicture('experience', imgSrc + 'reel/me-and-poogle.jpeg', 'About & Experience', 'experience', 'index')
    +linkedPicture('photography', imgSrc + 'reel/japan-miyajima-tori.jpg', 'Travel & Photography', 'photography', 'index')
    +linkedPicture('aerial-silks', imgSrc + 'reel/aerials-katniss.jpg', 'Aerial Silks', 'aerial-silks', 'index')
    +linkedPicture('baking', imgSrc + 'reel/sf-honey-toast.jpg', 'Food', 'baking', 'index')
    +linkedPicture('writing', imgSrc + '/work/productivity.png', 'Writing', 'writing', 'index')
    +linkedPicture('engineering', imgSrc + '/work/tablefortwo.png', 'Engineering', 'engineering', 'index')

block scripts
  script.
    const pageName = "Index";
    trackPageView(pageName);
    $("#navbar-first a").on("click", function(event){
    trackClick(pressedNavItem, this.id, pageName);
    });
    $("h2 a").on("click", function(event){
    trackClick(externalLinkView, this.id, pageName);
    });
