include mixins.jade
extends photography-base.jade

block append head
  title Tiffany Qi | Japan

block append content
  .container
    h1 Japan
    .picture-container
      - const imgSrc = 'assets/img/reel/japan-';
      +largePicture(imgSrc + 'kyoto-bridge.jpg', 'Takano River, Kyoto')
      +largePicture(imgSrc + 'nara.jpg', 'Nara Park, Nara')
      +largePicture(imgSrc + 'miyajima-tori.jpg', 'Itsukushima Floating Torii Gate, Miyajima')
      +largePicture(imgSrc + 'kyoto-arashiyama.jpg', 'Togetsukyo Bridge, Kyoto')
      +largePicture(imgSrc + 'steak.jpg', 'A11 Wagyu Steak, Kobe Beef Kaiseki 511')
      +largePicture(imgSrc + 'borderless-lanturns.jpg', 'Lanturn room, TeamLab Borderless Museum, Tokyo')
      +largePicture(imgSrc + 'kyoto-tofu.jpg', 'Yudofu Sagano, Kyoto')
      +largePicture(imgSrc + 'nara-lake.jpg', 'Sarusawa Pond, Nara')
      +largePicture(imgSrc + 'miyajima.jpg', 'Momijidani Park, Miyajima')
      +largePicture(imgSrc + 'kyoto.jpg', 'Himuro Shrine, Nara')
      +largePicture(imgSrc + 'miyajima-deer.jpg', 'Child petting deer, Miyajima')
      +largePicture(imgSrc + 'miyajima-lake.jpg', 'Momijidani Park, Miyajima')
      +largePicture(imgSrc + 'hiroshima.jpg', 'Atomic Bomb Dome, Hiroshima')
      +largePicture(imgSrc + 'monkey.jpg', 'Monkey being fed, Kyoto')
      +largePicture(imgSrc + 'kyoto-gold.jpg', 'Kinkaku Temple, Kyoto')
      +largePicture(imgSrc + 'kyoto-lake.jpg', 'Katsura River, Kyoto')
      +largePicture(imgSrc + 'nara-deer.jpg', 'Deer looking for food, Nara')
      +largePicture(imgSrc + 'osaka.jpg', 'Dotombori, Osaka')
      +largePicture(imgSrc + 'sushi.jpg', 'Salmon, Genki Sushi')
      +largePicture(imgSrc + 'ueno.jpg', 'Tsukiji River, Tokyo')

block append scripts
  script.
    const pageName = "Japan";
    trackPageView(pageName);
