include mixins.jade
extends photography-base.jade

block append head
  title Tiffany Qi | Mooncakes

block append content
  - const imgSrc = 'assets/img/reel/homemade-mooncake-';
  .container
    h1 Mooncakes
    .picture-container
      +largePicture(imgSrc + 'red-bean.jpg', 'Red bean, traditional')
      +largePicture(imgSrc + 'red-bean-yolk.jpg', 'Red bean with salted egg yolk, traditional')
      +largePicture(imgSrc + 'custard.jpg', 'Custard, traditional')
      +largePicture(imgSrc + 'mochi.jpg', 'Butter mochi, nerikiri')
      +largePicture(imgSrc + 'fire.jpg', 'Brownie and cayenne, snowskin')
      +largePicture(imgSrc + 'bread-pudding.jpg', 'Red bean bread pudding, snowskin')
      +largePicture(imgSrc + 'red-velvet.jpg', 'Red velvet cake and cream cheese, snowskin')
      +largePicture(imgSrc + 'eight-treasures.jpg', 'Eight treasures, snowskin')
      +largePicture(imgSrc + 'thai-tea.jpg', 'Thai tea, snowskin')
      +largePicture(imgSrc + 'cheesecake.jpg', 'Red bean cheesecake, cookie')
      +largePicture(imgSrc + 'cornbread.jpg', 'Cornbread muffins, snowskin')
      +largePicture(imgSrc + 'carrot-cake.jpg', 'Carrot cake and cream cheese, snowskin')
      +largePicture(imgSrc + 'carrot-cake-2.jpg', 'Carrot cake and cream cheese, snowskin')
      +largePicture(imgSrc + 'matcha.jpg', 'Matcha, snowskin')
      +largePicture(imgSrc + 'blue.jpg', 'Brownie, snowskin')
      +largePicture(imgSrc + 'dan-huang-su.jpg', 'Dan huang su (red bean with salted egg yolk)')
      +largePicture(imgSrc + 'black-sesame.jpg', 'Black sesame, snowskin')
      +largePicture(imgSrc + 'ube-nuts.jpg', 'Ube, nuts, and bacon, traditional')
      +largePicture(imgSrc + 'ube-cheese.jpg', 'Ube and cheese, traditional')

block append scripts
  script.
    const pageName = "Mooncakes";
    trackPageView(pageName);
