include mixins.jade
extends photography-base.jade

block append head
  title Tiffany Qi | Mooncakes

block append content
  - const imgSrc = 'assets/img/reel/homemade-mooncake-';
  .container
    h1 Mooncakes
    .picture-container
      +largePicture(imgSrc + 'red-bean.jpg', 'Red bean, traditional')
      +largePicture(imgSrc + 'red-bean-yolk.jpg', 'Red bean with salted egg yolk, traditional')
      +largePicture(imgSrc + 'bread-pudding.jpg', 'Red bean bread pudding, snowskin')
      +largePicture(imgSrc + 'cornbread.jpg', 'Cornbread muffins, snowskin')
      +largePicture(imgSrc + 'blue.jpg', 'Brownie, snowskin')

block append scripts
  script.
    const pageName = "Mooncakes";
    trackPageView(pageName);
