include mixins.jade
extends photography-base.jade

block append head
  title Tiffany Qi | Pastry School

block append content
  - const imgSrc = 'assets/img/reel/homemade-';
  .container
    h1 "Pastry School"
    p Teaching myself how to make basic and challenging versions of baked goods. Empty places are TBD

    h2 Cakes
    .picture-container
      +largePicture(imgSrc + 'five-full.jpg', 'Shortened Cake, lemon')
      +largePicture(imgSrc + 'birthday-cake-slice.jpg', 'Shortened Cake, black sesame and matcha')
      +largePicture(imgSrc + 'matcha-cheesecake.jpg', 'Cheesecake, matcha')
      +largePicture(imgSrc + 'chiffon-slice.jpg', 'Chiffon, chocolate')
      +largePicture(imgSrc + 'rolls-side.jpeg', 'Sponge, coffee, vanilla, and matcha roulades')
      +largePicture(imgSrc + '', 'Dacquoise')
      +largePicture(imgSrc + 'souffle.jpg', 'Souffle')
      +largePicture(imgSrc + '', 'Mirror glaze')
      +largePicture(imgSrc + '', 'Wedding cake')
      +largePicture(imgSrc + '', 'Opera cake')
      //- Entremet with a minimum of five elements, one of which must be a sponge, and covered with a glaze or ganache
      +largePicture(imgSrc + '', 'Five element entremet')

    h2 Cookies
    .picture-container
      +largePicture(imgSrc + 'choco-chip.jpg', 'Chocolate chip sea salt cookies')
      +largePicture(imgSrc + 'shortbread.jpg', 'Shortbread')
      +largePicture(imgSrc + 'pusheen-apple.jpg', 'Iced, Pusheen')
      +largePicture(imgSrc + '', 'Madeleine')
      +largePicture(imgSrc + '', 'Langue de chat')
      +largePicture(imgSrc + '', 'Biscotti')
      +largePicture(imgSrc + 'rose-tuile.jpg', 'Tuile, rose')
      +largePicture(imgSrc + '', 'Gingerbread house')
      +largePicture(imgSrc + '', 'Landscape with three different elements')

    h2 Pie and pastry
    .picture-container
      +largePicture(imgSrc + '', 'Lemon meringue pie')
      +largePicture(imgSrc + 'pusheen-pie.jpg', 'Double crusted pie, cherry pusheen')
      +largePicture(imgSrc + 'bee-pie.jpg', 'Double crusted pie, cherry and apricot')
      +largePicture(imgSrc + '', 'Savory pie and hot water crust pastry')
      +largePicture(imgSrc + '', 'Hand pie')
      +largePicture(imgSrc + 'choux.jpg', 'Choux with green tea craquelin and pastry cream')
      +largePicture(imgSrc + '', 'Filo')
      +largePicture(imgSrc + 'portuguese-egg-tarts-2.jpg', 'Portuguese egg tarts')
      +largePicture(imgSrc + '', 'Three different kinds of puff pastries')
      //- Family-sized hand-raised pie with a savoury filling using hot water crust pastry, topped with glazed fruits
      +largePicture(imgSrc + '', 'Savory family sized hand raised pie')
      //- Parisian pâtisserie window containing pâtisserie in three types: choux pastry, pate sucree and puff pastry mille-feuille
      +largePicture(imgSrc + '', 'Parisian pâtisserie window')
      //- Queen picnic: one chocolate celebration cake, sausage rolls, mini quiches, savoury scones and fruit and custard tarts
      +largePicture(imgSrc + '', 'Queen picnic')

    h2 Bread
    .picture-container
      +largePicture(imgSrc + 'totoro-bread.jpg', 'Milk Bread, Totoro')
      +largePicture(imgSrc + '', 'Cinnamon bun')
      +largePicture(imgSrc + '', 'Bagel')
      +largePicture(imgSrc + '', 'Doughnut')
      +largePicture(imgSrc + 'roti.jpg', 'Roti')
      +largePicture(imgSrc + '', 'Salted egg yolk lava bun')
      +largePicture(imgSrc + '', 'Brioche')
      +largePicture(imgSrc + 'kimchi-pizza.jpg', 'Pizza')
      +largePicture(imgSrc + 'croissants.jpg', 'Croissant')
      +largePicture(imgSrc + 'matcha-croissant.jpg', 'Croissant, Matcha')
      +largePicture(imgSrc + 'sourdough.jpg', ' Sourdough, Classic')
      +largePicture(imgSrc + 'sourdough-chocolate.jpeg', ' Sourdough, Chocolate')
      +largePicture(imgSrc + 'sourdough-carrot.jpeg', ' Sourdough, Carrot')
      +largePicture(imgSrc + '', 'Multicoloured bread sculpture with at least three colours using natural food colouring')

    h2 Confectionary and Chocolate
    .picture-container
      +largePicture(imgSrc + '', 'Toffee')
      +largePicture(imgSrc + '', 'Honeycomb')
      +largePicture(imgSrc + 'psyduck-cake.jpeg', 'Fondant, on a shortened cake')
      +largePicture(imgSrc + '', "Dragon's Beard")
      +largePicture(imgSrc + '', 'Vanilla ice cream')
      +largePicture(imgSrc + '', 'Creme brulee')
      +largePicture(imgSrc + '', 'Mochi')
      +largePicture(imgSrc + 'macaron.jpg', 'Macarons')
      +largePicture(imgSrc + '', 'Meringue centrepiece')
      +largePicture(imgSrc + 'chocolate.jpg', 'Chocolate tempering')
      +largePicture(imgSrc + '', 'Chocolate sculpture?')
      //- Meringue centrepiece, containing at least two different types of meringue and a dessert element
      //- Chocolate centrepiece, using white chocolate in some form and including a biscuit element, the centrepiece having to be free-standing and attractive
      +largePicture(imgSrc + '', 'Chocolate centrepiece')

block append scripts
  script.
    const pageName = "Pastry School";
    trackPageView(pageName);
