include mixins.jade
extends base.jade

block append head
  title Tiffany Qi | Photography
  link(rel='stylesheet', type='text/css', href='assets/css/photography.css')

block content
  .container
    h1 Photography
    .picture-container
      - const imgSrc = 'assets/img/reel/';
      +linkedPicture('contortion', imgSrc + 'contortion-camel.jpg', 'Contortion', 'contortion')
      +linkedPicture('aerial-silks', imgSrc + 'aerials-half-moon.jpg', 'Aerial Silks', 'aerials')
      +linkedPicture('baking', imgSrc + 'homemade-choco-chip.jpg', 'Baking', 'baking')
      +linkedPicture('foodie', imgSrc + 'sf-tartine-croissant.jpg', 'Foodie', 'foodie')
      +linkedPicture('travel', imgSrc + 'japan-nara.jpg', 'Travel', 'travel')

block scripts
  script.
    const pageName = "Photography";
    trackPageView(pageName);
    $(".linked-picture-container").on("click", function(event){
      trackClick(externalLinkView, this.id, pageName);
    });
