extends base.jade

block append head
  title Tiffany Qi | Photography
  link(rel='stylesheet', type='text/css', href='assets/css/photography.css')

block content
  #Photography.work-container
    h1 Photography
    .picture-container
      a.hover-picture-container(href='aerial-silks')
        img.display-picture.photography(src='assets/img/reel/aerials-half-moon.jpg')
        .display-description Aerial Silks
      a.hover-picture-container(href='bakes')
        img.display-picture.photography(src='assets/img/reel/homemade-choco-chip.jpg')
        .display-description Homemade Bakes
      a.hover-picture-container(href='photography')
        img.display-picture.photography(src='assets/img/reel/japan-nara.jpg')
        .display-description Japan
      a.hover-picture-container(href='writing')
        img.display-picture.photography(src='assets/img/reel/mexico-friendship.jpg')
        .display-description Other Travel
      a.hover-picture-container(href='engineering')
        img.display-picture.photography(src='assets/img/reel/sf-tartine-croissant.jpg')
        .display-description San Francisco

block scripts
  script.
    const pageName = "Photography";
    trackPageView(pageName);
    $("#navbar-first a").on("click", function(event){
      trackClick(pressedNavItem, this.id, pageName);
    });
