include mixins.jade
extends photography-base.jade

block append head
  title Tiffany Qi | Travel
  link(rel='stylesheet', type='text/css', href='assets/css/photography.css')

block append content
  .container
    h1 Travel
    .picture-container
      - const imgSrc = 'assets/img/reel/';
      +largePicture(imgSrc + 'japan-kyoto-bridge.jpg', 'Takano River, Kyoto')
      +largePicture(imgSrc + 'japan-nara.jpg', 'Nara Park, Nara')
      +largePicture(imgSrc + 'japan-miyajima-tori.jpg', 'Itsukushima Floating Torii Gate, Miyajima')
      +largePicture(imgSrc + 'japan-kyoto-arashiyama.jpg', 'Togetsukyo Bridge, Kyoto')
      +largePicture(imgSrc + 'japan-borderless-lanturns.jpg', 'Lanturn room, TeamLab Borderless Museum, Tokyo')
      +largePicture(imgSrc + 'japan-kyoto-tofu.jpg', 'Yudofu Sagano, Kyoto')
      +largePicture(imgSrc + 'japan-nara-lake.jpg', 'Sarusawa Pond, Nara')
      +largePicture(imgSrc + 'japan-miyajima.jpg', 'Momijidani Park, Miyajima')
      +largePicture(imgSrc + 'japan-kyoto.jpg', 'Himuro Shrine, Nara')
      +largePicture(imgSrc + 'japan-miyajima-deer.jpg', 'Child petting deer, Miyajima')
      +largePicture(imgSrc + 'japan-miyajima-lake.jpg', 'Momijidani Park, Miyajima')
      +largePicture(imgSrc + 'japan-hiroshima.jpg', 'Atomic Bomb Dome, Hiroshima')
      +largePicture(imgSrc + 'japan-kyoto-gold.jpg', 'Kinkaku Temple, Kyoto')
      +largePicture(imgSrc + 'japan-monkey.jpg', 'Monkey being fed, Kyoto')
      +largePicture(imgSrc + 'japan-kyoto-lake.jpg', 'Katsura River, Kyoto')
      +largePicture(imgSrc + 'japan-nara-deer.jpg', 'Deer looking for food, Nara')
      +largePicture(imgSrc + 'japan-osaka.jpg', 'Dotombori, Osaka')
      +largePicture(imgSrc + 'japan-ueno.jpg', 'Tsukiji River, Tokyo')
      +largePicture(imgSrc + 'hk-station.jpg', 'West Kowloon Station, Hong Kong')
      +largePicture(imgSrc + 'seattle-beach.jpg', 'Discovery Park, Seattle')
      +largePicture(imgSrc + 'mexico-friendship.jpg', 'A promise to return right before jumping off the cliff, Mazatlan')
      +largePicture(imgSrc + 'ny-skyline.jpg', 'Hudson River, Weehawken')
      +largePicture(imgSrc + 'victoria.jpg', 'Strait of Juan de Fuca, Victoria')
      +largePicture(imgSrc + 'berkeley-sather-gate.jpg', 'Sather Gate, Berkeley')
      +largePicture(imgSrc + 'sf-arrow.jpg', 'Arrow at the Embarcadero at Night, San Francisco')
      +largePicture(imgSrc + 'sf-night-skyline.jpg', 'The San Francisco Night Skyline from the Embarcadero, San Francisco')
      +largePicture(imgSrc + 'sf-embarcadero.jpg', 'The Embarcadero, San Francisco')
      +largePicture(imgSrc + 'sf-point-reyes.jpg', 'Point Reyes, San Francisco')
      +largePicture(imgSrc + 'sf-twin-peaks.jpg', 'Twin Peaks, San Francisco')
      +largePicture(imgSrc + 'irvine-road.jpeg', 'Jeffrey Open Trail, Irvine')
      +largePicture(imgSrc + 'irvine-sunset.jpeg', 'Sunset, Jeffrey Open Trail, Irvine')
      +largePicture(imgSrc + 'irvine-mall.jpg', 'Merry Go Round and Balloons, Irvine')
      +largePicture(imgSrc + 'wedding-steps.jpg', 'Wedding Steps, Willow Pond Bed and Breakfast, Weyauwega')

block append scripts
  script.
    const pageName = "Travel";
    trackPageView(pageName);
