include mixins.jade
extends photography-base.jade

block append head
  title Tiffany Qi | Travel
  link(rel='stylesheet', type='text/css', href='assets/css/photography.css')

block append content
  .container
    h1 Travel
    .picture-container
      - const imgSrc = 'assets/img/reel/';
      +largePicture(imgSrc + 'seattle-beach.jpg', 'Discovery Park, Seattle')
      +largePicture(imgSrc + 'mexico-friendship.jpg', 'A promise to return right before jumping off the cliff, Mazatlan')
      +largePicture(imgSrc + 'ny-skyline.jpg', 'Hudson River, Weehawken')
      +largePicture(imgSrc + 'hk-matcha-cake.jpg', 'Matcha cake, Via Tokyo, Hong Kong')
      +largePicture(imgSrc + 'hk-station.jpg', 'West Kowloon Station, Hong Kong')
      +largePicture(imgSrc + 'hk-chestnut-shaved-ice.jpg', 'Chestnut shaved ice, Via Tokyo, Hong Kong')
      +largePicture(imgSrc + 'victoria.jpg', 'Strait of Juan de Fuca, Victoria')
      +largePicture(imgSrc + 'irvine-pork.jpg', 'House special braised pork belly, Rice Yummy, Rosemead')
      +largePicture(imgSrc + 'irvine-meat.JPG', 'Pork belly, All That Barbeque, Irvine')
      +largePicture(imgSrc + 'irvine-road.jpeg', 'Jeffrey Open Trail, Irvine')
      +largePicture(imgSrc + 'irvine-sunset.jpeg', 'Sunset, Jeffrey Open Trail, Irvine')
      +largePicture(imgSrc + 'irvine-baekjong.jpg', 'Beef brisket, Kang Ho Dong Baekjong, Irvine')
      +largePicture(imgSrc + 'wedding-steps.jpg', 'Wedding Steps, Willow Pond Bed and Breakfast, Weyauwega')

block append scripts
  script.
    const pageName = "Travel";
    trackPageView(pageName);
