include mixins.jade
extends base.jade

block append head
  title Tiffany Qi | Writing
  link(rel='stylesheet', type='text/css', href='assets/css/writing.css')

block content
  .container
    h1 Writing
    .picture-container
      - const imgSrc = 'assets/img/work/'
      +linkedPicture('my-projects/engineering-progress.html', imgSrc + 'progress.png', "Engineering Progress, April 2019", 'progress', 'writing')
      +linkedPicture('my-projects/college-productivity.html', imgSrc + 'productivity.png', "My Productivity Analysis, June 2016", 'productivity', 'writing')
      +linkedPicture('my-projects/how-many-pidgeys-pokemon-go.html', imgSrc + 'pidgeys.png', "How many Pidgeys, August 2016", 'pidgeys', 'writing')
      +linkedPicture('https://medium.com/@tiffanyqi/learnings-of-four-years-at-uc-berkeley-97964632444f#.fg5pqrkpx', imgSrc + 'learnings.png', "Learnings of Four Years, June 2016", 'learnings', 'writing')

block scripts
  script.
    const pageName = "Writing";
    trackPageView(pageName);
    $(".linked-picture-container").on("click", function(event){
      trackClick(externalLinkView, this.id, pageName);
    });
